body {
	display: block;
	margin: 0;
	padding: 0;
	background: #3d4d5f;
	font-family: 'Exo', Georgia, serif;
}
ul li {
	list-style-type: none;
}
#home {
	color: white;
	text-align: center;
	display: table;
	margin: auto;
	position: relative;
}
#home .infosMe {
	display: table-cell;
	vertical-align: middle;
	margin: auto;
	font-size: 1.7em;
	padding: 1em;
}
#home .infosMe img {
	margin-bottom: 20px;
	border-radius: 50%;
}
#home .infosMe h1 {
	margin-bottom: 20px;
}
#home .infosMe h2:before {
	content: '';
	display: block;
	border-top: solid 1px rgba(255, 255, 255, 0.5);
	margin: 4px 0 0.8em 0;
}
#home .infosMe h2 {
	border-top: solid 1px rgba(255, 255, 255, 0.5);
	color: rgba(255, 255, 255, 0.75);
	text-shadow: 0 0 0.5px rgba(255, 255, 255, 0.1875);
	font-size: 1em;
	text-transform: uppercase;
	letter-spacing: 3px;
	padding: 0;
	margin-top: 0.35em;
	margin-bottom: 4em;
	content: '';
	display: block;
	border-top: solid 1px rgba(255, 255, 255, 0.5);
	margin: 4px 0 0.8em 0;
}
#home .socials {
	position: absolute;
	bottom: 25px;
	left: 0;
	right: 0;
}
#home .socials i {
	color: white;
	font-size: 45px;
	cursor: pointer;
}
#home .socials i:hover {
	color: rgb(84, 168, 233);
}
#home .socials a {
	text-decoration: none;
}
.menu {
	position: fixed;
	left: 20px;
}
ul.menu {
	margin: 0;
	padding: 0;
}
.menu li {
	list-style-type: none;
}
.menu li.active i {
	font-size: 40px;
	border-right: 1px solid white;
	padding-right: 10px;
	color: lightgreen;
}
.menu li i {
	font-size: 30px;
	color: white;
	/* margin: 10px; */
	margin: 10px 0 10px 0;
	cursor: pointer;
}

#api {
	width: 100%;
	color: white;
	padding-top: 20px;
	overflow-y: scroll;
	display: none;
}
#api .apiContainer {
	width: 70%;
	margin: 0 auto;
	color: black;
}
#api h2 {
	color: white;
	text-align: center;
	margin-bottom: 40px;
	text-decoration: underline;
}
#api h3 {
	margin: 0;
}
#api .apiContainer .route {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	cursor: pointer;
	margin-top: 25px;
}
#api .apiContainer .get {
	border-color: #c3d9ec;
	background-color: #e7f0f7;
	font-weight: 600;
}
.get span {
	background: rgb(15,106,180);
	color: white;
	padding: 10px;
	border-radius: 2px;
	font-size: 12px;
	display: inline-block;
}
.post span {
	background: rgb(16,165,74);
	color: white;
	padding: 10px;
	border-radius: 2px;
	font-size: 12px;
	display: inline-block;
}
#api .apiContainer .post {
	border-color: #a7e1a1;
	background-color: #d4f7cd;
	font-weight: 600;
}
.apiContainer .route p {
	display: inline-block;
	float: right;
	line-height: 34px;
	margin: 0;
	margin-right: 5px;
	font-weight: 200;
}
.route.get p {
	color: #0f6ab4;
}
.route.post p {
	color: #10a54a;	
}
#home .map {
	font-style: italic;	
	font-size: 20px;
}
.content.get {
	background-color: #ebf3f9;
	border-top: 1px solid #c3d9ec;
	padding: 10px;
	border-bottom-right-radius: 6px;
	margin: 0 0 20px 0;
}
#api .content.active {
	display: block;
}
#api .content {
	display: none;
}
#api h4 {
	margin: 5px 0;
}
.content p {
	font-weight: 400;
}
#project .project {
	margin: 10px 2%;
	width: 45%;
	display: inline-block;
}
#project .project h4 {
	text-align: center;
	border-bottom: 2px solid #c3d9ec;
	padding-bottom: 5px;
}
#project .project .projectContent {
	font-weight: 400;
	font-size: 14px;
	text-indent: 15px;
	text-align: justify;
	margin: 5px 15px;
}
#project .project .projectSkills {
	font-size: 14px;
	font-weight: 600;
	margin: 0px 5px;
}
#project .project .projectSkills span {
	margin: 5px 2px;
	cursor: pointer;
}
.imgProject.right, .imgProject.left {
	display: inline-block;
	width: 48%;
}
.imgProject.right {
	text-align: right;
	padding-right: 2%;
}
.imgProject.left {
	text-align: left;
	padding-left: 2%;
}
.imgProject img {
	width: 80%;
}
.borderDotted {
	border: 2px dashed #c3d9ec;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 40%;
	margin-left: 30%;
}
.project .fa-code {
	font-size: 20px;
	cursor: pointer;
}
#api.active {
	display: block;
}
